* {
    font-family: 'Open Sans', sans-serif;
  }
.about {
    background-color: #B92942;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    padding: 8px 0;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
  body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #29B99F;
    background-size: cover;
    background-position: center;
}
.logo {
    margin-left: 5px;
    margin-top: 5px;
}
.logo > img {
    width: 100%;
    max-width: 90px;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}
section#landing-page { 
    width: 100%;
    max-width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999;
    
}
ul.list {
    display: flex;
    align-items: center;
    list-style: none;
}
ul.list li > a {
    margin: 0 20px;
    color: #29B99F;
    text-decoration: unset;
    font-size: 20px;
    line-height: 30px;
}
table {
    max-width: 90%;
}
.heading {
    font-size: 65px;
    font-family: 'Permanent Marker', cursive;
    color: #B92942;
}
p {
    max-width: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #B92942;
}
.media {
    float: right;
}
.media > p {
    font-size: 25px;
    margin: auto;
}
.btn-explore {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 100px;
    background: url(./assets/button.png)no-repeat;
    background-size: cover;
    width: 320px;
    color: #B92942;
    font-weight: bold;
    font-size: 20px;
    text-decoration: unset;
}
ul.social-icons.list {
    margin-left: 66px;
}
ul.social-icons.list > li > a {
    width: 65px;
    height: 65px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #B92942;
    border: 2px solid;
    border-radius: 100%;
    font-size: 30px;
}
footer {
    color: #29B99F;
    background-color: #B92942;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    border-radius: 15%;
}
